/* styles.css */
body {
    font-family: 'Arial', sans-serif;
    background: url('background(7).jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px; /* space between elements */
}

.welcome-container {
    text-align: center;
    color: #fff;
    background: rgba(0, 0, 0, 0.5); /* semi-transparent background */
    padding: 10px;
    border-radius: 20px;
}

.form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px; /* space between the forms */
}

.form-container {
    background: rgba(255, 255, 255, 0.8); /* white background with transparency */
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    transition: opacity 0.5s ease;
}

.hidden {
    display: none;
}

h1 {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background: #7a5fff;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background: #feb47b;
}

/* Additional styles for responsiveness */
@media (max-width: 768px) {
    .form-wrapper {
        flex-direction: column; /* stack forms vertically on smaller screens */
        gap: 10px;
    }

    .form-container {
        width: 90%;
    }
}

